{% extends 'base.html' %}

{% block title %}Songs{% endblock %}


{% block content %}

    <div class="container">
        <div class="header">
            <h1>Songs</h1>
        </div>
        <hr />

        <table class="table table-hover">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Times Played</th>
            </tr>

            {% for song in songs %}
            <tr>
                <td><a href="/songs/{{ song.name }}" title="{{ song.name }}">{{ song.name }}</a></td>
                <td>{{ song.artist }}</td>
                <td>{{ song.play_count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
