{% extends 'base.html' %}

{% block title %}{{ song_name }}{% endblock %}


{% block content %}

    <div class="container">
        <div class="header">
            <h1>{{ song_name }} | {{ show_count }}</h1>
        </div>
        <hr />

        <table class="table table-hover">
            <tr>
                <th>Date</th>
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
            </tr>

            {% for show in shows %}
            <tr>
                <td><a href="/setlist/{{ show.show.id }}">{{ show.show.date.strftime("%Y.%m.%d") }}</a></td>
                <td>{{ show.show.venue.name }}</td>
                <td>{{ show.show.venue.city }}</td>
                <td>{{ show.show.venue.state or 'N/A' }}</td>
                <td>{{ show.show.venue.country }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
